.text {
  color: black;
  font-family: "Chivo", sans-serif;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:after {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

body {
  /*background-image: url(background.png);*/
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

.smnews {
  position: relative;
  left: 2%;
}

.topmenu {
  font-family: 'Libre Baskerville', serif;
}

.article {
  font-family: "Roboto", sans-serif;
  color: black;
}

.article1 {
  position: relative;
  left: 2%;
  top: 0;
}

img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.thirteen {
  position: relative;
  left: 85%;
  position: absolute;
  top: 3.5%;
}

.home {
  position: relative;
  left: 75%;
  position: absolute;
  top: 3.5%;
}

.article2 {
  position: relative;
  left: 2%;
  top: 0;
}

.videosize13 {
  width: 800px;
}

.article3 {
  position: absolute;
  left: 50%;
  top: 8%;
}

.video1 {
  display: inline-block;
  position: relative;
  left: 2%;
}

.video2 {
  position: relative;
  left: 50%;

}

a:hover {
  color: gray;
}

.article4 {
  position: relative;
  left: 2%;
}